@media (prefers-color-scheme: light) {
  *, *::before, *::after {
    --L-fg: 0%;
    --L-bg: 100%;
    --L-grey: 85%;
    --L-fg-keep-clr: 20%;
  }

  .acnt-grey {
    --L-acnt-hover-change: 1.2 !important;
  }
}
@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    --transition-duration: 0s !important;
    animation-duration: 0s !important;
    scroll-behavior: auto !important;
  }
}