* {
  transition: 0s;
}

.loadingScreen {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  transition: 0.2s !important;
  background: black;
  border-radius: 0 !important;
  z-index: 1000;
  transform: scale(1);
  clip-path: circle(100% at 50% 50%);
}

.loaded > * > .loadingScreen {
  transform: scale(0);
  clip-path: circle(0% at 50% 50%);
}
.loaded *, .loaded *::after, .loaded *::before {
  transition: var(--transition-duration) ease;
}

/*H -> hue
	L -> lightness
	S -> saturation
	acnt -> accent
	clr -> color
	fg -> foreground
	bg -> background
	hvr -> hover*/
*:after,
*::before,
* {
  font-size: 3vh;
  border-radius: 1vh;
  background: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
  --transition-duration: 1s;
  --shadow: 0 0 0.5vh 0.25vh rgba(0, 0, 0, 0.972);
  --border-size: 0.2vh;
  --arrow-open: polygon(
    0 0,
    100% 0,
    50% 25%,
    50% 75%,
    100% 100%,
    0 100%,
    50% 75%,
    50% 25%
  );
  --arrow-closed: polygon(
    0 25%,
    100% 25%,
    50% 75%,
    50% 75%,
    50% 75%,
    50% 75%,
    50% 75%,
    50% 75%
  );
  --H-1: 188;
  --H-2: 230;
  --L-acnt: 30%;
  --L-on-acnt: 100%;
  --L-acnt-hover-change: 1.4;
  --L-acnt-hover: calc(30% / var(--L-acnt-hover-change));
  --S-acnt: 100%;
  --L-white-keep-clr: 80%;
  --L-fg: 100%;
  --L-bg: 10%;
  --L-grey: 20%;
  --L-fg-keep-clr: 80%;
  --clr-acnt: hsl(var(--H-acnt), var(--S-acnt), var(--L-acnt));
  --clr-on-acnt: hsl(0, 0%, var(--L-on-acnt));
  --clr-fg: hsl(0, 0%, var(--L-fg));
  --clr-bg: hsl(0, 0%, var(--L-bg));
  --clr-grey: hsl(0, 0%, var(--L-grey));
  --clr-keep-clr: hsl(0, 0%, var(--L-fg-keep-clr));
  --clr-lighten: hsla(0, 0%, var(--L-fg), 10%);
  --clr-background-lighten: hsla(0, 0%, var(--L-grey), 70%);
}

footer {
  font-size: 2vh;
}

h1 {
  font-size: 6vh;
}

h2 {
  font-size: 4.5vh;
}

table {
  border-spacing: 2vh 2vh;
}
table td {
  text-align: center;
}

button:hover, button:focus,
input[type=submit]:hover,
input[type=submit]:focus,
a:hover,
a:focus,
dropdown:hover,
dropdown:focus {
  z-index: 1000;
  position: relative;
  --L-acnt: var(--L-acnt-hover);
}

/*input {
	&[type="range"] {
		width: 10vh;
		cursor: pointer;
		-webkit-appearance: none;
		&::-webkit-slider-runnable-track {
			background: var(--lighten);
		}
		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			background: var(--lighten);
			transition: 0.15s ease-in-out;
			height: var(--font-size);
			width: var(--font-size);
			transform: scale(1.2);
			&:hover {
				transform: scale(1.3);
			}
		}
	}
} ! mobile not working */
.disabled {
  filter: grayscale(100%);
  opacity: 50%;
  pointer-events: none;
}

.stackingContext {
  position: relative;
  z-index: 1;
}

.callToAction {
  --font-size: 4vh !important;
}

.img {
  max-width: 100%;
}

.bg-inherit {
  background: var(--clr-bg);
}
.bg-inherit > * {
  background: inherit;
}

::-webkit-scrollbar {
  width: 1%;
  min-width: 5px;
  height: 1%;
  min-height: 5px;
}

::-webkit-scrollbar-thumb {
  width: 1%;
  background: var(--clr-grey);
  border-radius: var(--border-radius);
}

.scrollSlow {
  transform-origin: 0 0;
  transform: translateZ(-2px) scale(3);
  z-index: -1 !important;
  position: relative;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;
  perspective-origin: 0 0;
}

@media (prefers-color-scheme: light) {
  *, *::before, *::after {
    --L-fg: 0%;
    --L-bg: 100%;
    --L-grey: 85%;
    --L-fg-keep-clr: 20%;
  }

  .acnt-grey {
    --L-acnt-hover-change: 1.2 !important;
  }
}
@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    --transition-duration: 0s !important;
    animation-duration: 0s !important;
    scroll-behavior: auto !important;
  }
}
.acnt-grey {
  --S-acnt: 0%;
  --H-acnt: 0;
  --L-on-acnt: var(--L-fg);
  --L-acnt: var(--L-grey);
  --L-acnt-hover: calc(var(--L-grey) / var(--L-acnt-hover-change));
}

.acnt-1 {
  --H-acnt: var(--H-1);
}

.acnt-2 {
  --H-acnt: var(--H-2);
}

.acnt-gradient {
  --clr-acnt: linear-gradient(
    90deg,
    hsl(var(--H-1), var(--S-acnt), var(--L-acnt)),
    hsl(var(--H-2), var(--S-acnt), var(--L-acnt))
  );
}

span {
  background: var(--clr-background-lighten);
  position: sticky;
  top: 0px;
  padding: 0;
  border-radius: 0;
  z-index: 50;
  display: block;
  margin: auto;
  width: fit-content;
}
span > * {
  padding: 0 0.1vh;
  margin: auto;
}
span.hide {
  transform: translateY(-99%);
}
span.hide:hover {
  transform: initial;
}

button,
input[type=submit] {
  border: var(--border-size) solid var(--clr-border);
  padding: 0.2vh 1vh;
  color: var(--clr-fg);
}
button:hover, button:focus,
input[type=submit]:hover,
input[type=submit]:focus {
  box-shadow: var(--shadow);
}

.btn-contain {
  --clr-border: var(--clr-acnt);
  background: var(--clr-acnt);
  color: hsl(0, 0%, var(--L-on-acnt));
}

.btn-outline {
  --L-acnt: var(--L-fg-keep-clr) !important;
  --L-on-acnt: var(--L-bg);
  --clr-border: var(--clr-acnt);
  color: var(--clr-acnt);
}
.btn-outline:hover {
  background: var(--clr-acnt);
  color: var(--clr-on-acnt);
}

a,
button,
input[type=submit] {
  cursor: pointer;
  display: inline-block;
  background-position: left;
}
a:hover, a:focus,
button:hover,
button:focus,
input[type=submit]:hover,
input[type=submit]:focus {
  outline: none;
  transform: scale(1.05) translateY(-0.2vh);
  background-position: right;
}

a {
  color: hsl(var(--H-1), 100%, var(--L-fg-keep-clr));
  padding: 0.1vh 0.4vh;
  text-decoration: none;
}

.hover-underline, a {
  position: relative;
  overflow: hidden;
}
.hover-underline::after, a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.3vh;
  transform: scaleX(0);
  transition: var(--transition-duration) ease;
  background: var(--clr-on-acnt);
}
.hover-underline:hover::after, .hover-underline:focus::after, .hover-underline:focus-within::after, a:hover::after, a:focus::after, a:focus-within::after {
  transform: initial;
}

:root {
  background: var(--clr-bg);
  color: var(--clr-fg);
}