button,
input[type=submit] {
  border: var(--border-size) solid var(--clr-border);
  padding: 0.2vh 1vh;
  color: var(--clr-fg);
}
button:hover, button:focus,
input[type=submit]:hover,
input[type=submit]:focus {
  box-shadow: var(--shadow);
}

.btn-contain {
  --clr-border: var(--clr-acnt);
  background: var(--clr-acnt);
  color: hsl(0, 0%, var(--L-on-acnt));
}

.btn-outline {
  --L-acnt: var(--L-fg-keep-clr) !important;
  --L-on-acnt: var(--L-bg);
  --clr-border: var(--clr-acnt);
  color: var(--clr-acnt);
}
.btn-outline:hover {
  background: var(--clr-acnt);
  color: var(--clr-on-acnt);
}

a,
button,
input[type=submit] {
  cursor: pointer;
  display: inline-block;
  background-position: left;
}
a:hover, a:focus,
button:hover,
button:focus,
input[type=submit]:hover,
input[type=submit]:focus {
  outline: none;
  transform: scale(1.05) translateY(-0.2vh);
  background-position: right;
}