.calendar {
  background: rgba(#333333, 0.7);
  width: min-content;
  box-shadow: 1px 1px 4px 2px rgba(#000, 0.25);
  border-radius: 8px;
  padding: 20px;

  h2,
  h3 {
    margin: 5px 0px;
  }
  h3 {
    font-weight: 500;
    font-size: 4vh;
  }
  * {
    background: initial;
  }

  .calendar__body {
    display: grid;
    grid-template-columns: repeat(7, minmax(25px, 1fr));
    grid-gap: 10px;

    .calendar__day {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 25px;
      font-weight: 550;
    }

    .calendar__number {
      transition: 1s;
      margin: auto;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 25px;
      width: 25px;
      color: #ffffff;

      &::after {
        content: initial;
      }
      & > content {
        min-width: 40vh;
        max-width: 60vh;
        padding: 5px;
        & > img {
          max-width: 100%;
        }
      }

      &--current,
      &:hover {
        background: #009688;
        color: #fff !important;
      }
    }
  }
}
