.calendar {
  background: var(--background-lighten);
  width: min-content;
  box-shadow: var(--shadow);
  padding: 3.5vh;

  h2,
  h3 {
    margin: 0.2vh 0;
  }
  h3 {
    font-weight: 500;
    font-size: 4vh;
  }
  * {
		background: initial;
  }

  .calendar__body {
		margin-top: 1.6vh;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
		grid-gap: 2vh;

    .calendar__day {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 550;
    }

    .calendar__number {
      transition: 1s;
      margin: auto;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 4.2vh;
      width: 4.2vh;

      &::after {
        content: initial;
      }
      & > content {
        min-width: 25ch;
        padding: 0.6vh;
        & > img {
          max-width: 100%;
        }
      }

      &--current,
      &:hover {
        background: var(--shade3);
      }
    }
  }
}
