content {
  top: 100%;
  left: 0;
  z-index: 100;
  position: absolute;
  background: var(--shade3);
}

content * {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: top;
          transform-origin: top;
}

content > *:nth-child(0) {
  -webkit-transition: -webkit-transform 0.15s, -webkit-box-shadow 1s;
  transition: -webkit-transform 0.15s, -webkit-box-shadow 1s;
  transition: transform 0.15s, box-shadow 1s;
  transition: transform 0.15s, box-shadow 1s, -webkit-transform 0.15s, -webkit-box-shadow 1s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

content > *:nth-child(1) {
  -webkit-transition: -webkit-transform 0.15s, -webkit-box-shadow 1s;
  transition: -webkit-transform 0.15s, -webkit-box-shadow 1s;
  transition: transform 0.15s, box-shadow 1s;
  transition: transform 0.15s, box-shadow 1s, -webkit-transform 0.15s, -webkit-box-shadow 1s;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

content > *:nth-child(2) {
  -webkit-transition: -webkit-transform 0.15s, -webkit-box-shadow 1s;
  transition: -webkit-transform 0.15s, -webkit-box-shadow 1s;
  transition: transform 0.15s, box-shadow 1s;
  transition: transform 0.15s, box-shadow 1s, -webkit-transform 0.15s, -webkit-box-shadow 1s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

content > *:nth-child(3) {
  -webkit-transition: -webkit-transform 0.15s, -webkit-box-shadow 1s;
  transition: -webkit-transform 0.15s, -webkit-box-shadow 1s;
  transition: transform 0.15s, box-shadow 1s;
  transition: transform 0.15s, box-shadow 1s, -webkit-transform 0.15s, -webkit-box-shadow 1s;
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

content > *:nth-child(4) {
  -webkit-transition: -webkit-transform 0.15s, -webkit-box-shadow 1s;
  transition: -webkit-transform 0.15s, -webkit-box-shadow 1s;
  transition: transform 0.15s, box-shadow 1s;
  transition: transform 0.15s, box-shadow 1s, -webkit-transform 0.15s, -webkit-box-shadow 1s;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

content > *:nth-child(5) {
  -webkit-transition: -webkit-transform 0.15s, -webkit-box-shadow 1s;
  transition: -webkit-transform 0.15s, -webkit-box-shadow 1s;
  transition: transform 0.15s, box-shadow 1s;
  transition: transform 0.15s, box-shadow 1s, -webkit-transform 0.15s, -webkit-box-shadow 1s;
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
}

content > *:nth-child(6) {
  -webkit-transition: -webkit-transform 0.15s, -webkit-box-shadow 1s;
  transition: -webkit-transform 0.15s, -webkit-box-shadow 1s;
  transition: transform 0.15s, box-shadow 1s;
  transition: transform 0.15s, box-shadow 1s, -webkit-transform 0.15s, -webkit-box-shadow 1s;
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

content > *:nth-child(7) {
  -webkit-transition: -webkit-transform 0.15s, -webkit-box-shadow 1s;
  transition: -webkit-transform 0.15s, -webkit-box-shadow 1s;
  transition: transform 0.15s, box-shadow 1s;
  transition: transform 0.15s, box-shadow 1s, -webkit-transform 0.15s, -webkit-box-shadow 1s;
  -webkit-transition-delay: 1.05s;
          transition-delay: 1.05s;
}

content > *:nth-child(8) {
  -webkit-transition: -webkit-transform 0.15s, -webkit-box-shadow 1s;
  transition: -webkit-transform 0.15s, -webkit-box-shadow 1s;
  transition: transform 0.15s, box-shadow 1s;
  transition: transform 0.15s, box-shadow 1s, -webkit-transform 0.15s, -webkit-box-shadow 1s;
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

content > *:nth-child(9) {
  -webkit-transition: -webkit-transform 0.15s, -webkit-box-shadow 1s;
  transition: -webkit-transform 0.15s, -webkit-box-shadow 1s;
  transition: transform 0.15s, box-shadow 1s;
  transition: transform 0.15s, box-shadow 1s, -webkit-transform 0.15s, -webkit-box-shadow 1s;
  -webkit-transition-delay: 1.35s;
          transition-delay: 1.35s;
}

content > *:nth-child(10) {
  -webkit-transition: -webkit-transform 0.15s, -webkit-box-shadow 1s;
  transition: -webkit-transform 0.15s, -webkit-box-shadow 1s;
  transition: transform 0.15s, box-shadow 1s;
  transition: transform 0.15s, box-shadow 1s, -webkit-transform 0.15s, -webkit-box-shadow 1s;
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}

dropdown {
  --arrow-open: polygon(
		0 0,
		100% 0,
		50% 25%,
		50% 75%,
		100% 100%,
		0 100%,
		50% 75%,
		50% 25%);
  --arrow-closed: polygon(
		0 25%,
		100% 25%,
		50% 75%,
		50% 75%,
		50% 75%,
		50% 75%,
		50% 75%,
		50% 75%);
  position: relative;
  z-index: 50;
  display: inline-block;
}

dropdown label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

dropdown:hover, dropdown:focus-within {
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
}

dropdown:hover > content > *, dropdown:focus-within > content > * {
  -webkit-transform: initial !important;
          transform: initial !important;
}

dropdown:hover::after, dropdown:focus-within::after {
  -webkit-clip-path: var(--arrow-open);
          clip-path: var(--arrow-open);
}

dropdown::after {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transition-delay: var(--transition);
          transition-delay: var(--transition);
  float: right;
  width: var(--font-size);
  content: ".";
  margin-right: 0.11vh;
  -webkit-clip-path: var(--arrow-closed);
          clip-path: var(--arrow-closed);
  background: var(--shade3);
}

#settings > * > * + * {
  border-top: 0.25vh solid var(--lighten);
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
/*# sourceMappingURL=dropdown.css.map */