.dropdown-right > .dropdown__content {
  transform: scaleX(0);
  transform-origin: left;
  top: 0;
  left: 100%;
  min-height: 100%;
  /*force height to be size of idropdown title*/
}
.dropdown-right:after {
  transform: rotate(-90deg);
}