dropdown.right{
	content {
		top: 0;
		left: 100%;
		min-height: 100%;/*force height to be size of idropdown title*/
		& > * {
			transform-origin: left;
		}
	}

	&::after {
		transform: rotate(-90deg);
	}
}