span {
  background: var(--clr-background-lighten);
  position: sticky;
  top: 0px;
  padding: 0;
  border-radius: 0;
  z-index: 50;
  display: block;
  margin: auto;
  width: fit-content;
}
span > * {
  padding: 0 0.1vh;
  margin: auto;
}
span.hide {
  transform: translateY(-99%);
}
span.hide:hover {
  transform: initial;
}