.scrollSlow {
	transform-origin: 0 0;
  transform: translateZ(-2px) scale(3);
	z-index: -1 !important;
	position: relative;
	transform-origin: 0 0;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;
  perspective-origin: 0 0;
}

.parallax-child {

}