.scrollSlow {
  transform: translateZ(-1px) scale(2);
	z-index: -1 !important;
	position: relative;
	transform-origin: 0 0;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
  perspective: 1px;
	transform-style: preserve-3d;
	perspective-origin: 0, 0;
}