/*H -> hue
	L -> lightness
	S -> saturation
	acnt -> accent
	clr -> color
	fg -> foreground
	bg -> background
	hvr -> hover*/
*:after,
*::before,
* {
  font-size: 3vh;
  border-radius: 1vh;
  background: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
  --transition-duration: 1s;
  --shadow: 0 0 0.5vh 0.25vh rgba(0, 0, 0, 0.972);
  --border-size: 0.2vh;
  --arrow-open: polygon(
  	0 0,
  	100% 0,
  	50% 25%,
  	50% 75%,
  	100% 100%,
  	0 100%,
  	50% 75%,
  	50% 25%
  );
  --arrow-closed: polygon(
  	0 25%,
  	100% 25%,
  	50% 75%,
  	50% 75%,
  	50% 75%,
  	50% 75%,
  	50% 75%,
  	50% 75%
  );
  --L-acnt-hover: calc(30% / var(--L-acnt-hover-change));
  --clr-acnt: hsl(var(--H-acnt), var(--S-acnt), var(--L-acnt));
  --clr-on-acnt: hsl(0, 0%, var(--L-on-acnt));
  --clr-fg: hsl(0, 0%, var(--L-fg));
  --clr-bg: hsl(0, 0%, var(--L-bg));
  --clr-grey: hsl(0, 0%, var(--L-grey));
  --clr-keep-clr: hsl(0, 0%, var(--L-fg-keep-clr));
  --clr-lighten: hsla(0, 0%, var(--L-fg), 10%);
  --clr-background-lighten: hsla(0, 0%, var(--L-grey), 70%);
  --H-1: 188;
  --H-2: 230;
  --L-acnt: 30%;
  --L-acnt-hover-change: 1.4;
  --L-on-acnt: 100%;
  --S-acnt: 100%;
  --L-white-keep-clr: 80%;
  --L-fg: 100%;
  --L-bg: 10%;
  --L-grey: 20%;
  --L-fg-keep-clr: 80%;
}