nav {
	background: var(--clr-background-lighten);
	position: sticky;
	top: 0px;
	padding: 0;
	border-radius: 0;
	z-index: 50;
	display: block;
	margin: auto;
	width: fit-content;
	
	& > * {
		padding: 0 0.1vh;
		margin: auto;
	}

	&.hide {
		transform: translateY(-99%);
		&:hover {
			transform: initial;
		}
	}
}